/* =========================
    1. Base
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  text-transform: none;
  appearance: none;
  -webkit-appearance: none;
  /* iOS/Safari */
  cursor: pointer;
}

/* ================================
    2. Layout Blocks
================================ */

.main p {
  font-size: 14px;
  line-height: 27px;
  color: #333;
}

/* ---------- Hero ---------- */
.hero {
  display: grid;
  place-items: center;
  position: relative;
}

.hero__slider {
  grid-area: 1 / 1;
  width: 100%;
  height: 600px;
}

.hero__slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title {
  text-align: center;
  grid-area: 1 / 1;
  line-height: 80px;
  letter-spacing: 8px;
  width: 100%;
  z-index: 10;
}

.hero__title picture {
  animation: bounce 1.2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero__title-image {
  display: inline-block;
  width: 140px;
  animation-delay: 0.1s;
}

.hero__title-image img {
  width: 100%;
  height: auto;
}

.hero__title-letter {
  display: inline-block;
  width: 40px;
}

.hero__title-letter:nth-child(2) {
  animation-delay: 0.3s;
}
.hero__title-letter:nth-child(3) {
  animation-delay: 0.5s;
}
.hero__title-letter:nth-child(4) {
  animation-delay: 0.2s;
}
.hero__title-letter:nth-child(6) {
  animation-delay: 0.6s;
}
.hero__title-letter:nth-child(7) {
  animation-delay: 0.7s;
}
.hero__title-letter:nth-child(8) {
  animation-delay: 0.9s;
}
.hero__title-letter:nth-child(9) {
  animation-delay: 1.1s;
}
.hero__title-letter:nth-child(10) {
  animation-delay: 1.5s;
}
.hero__title-letter:nth-child(11) {
  animation-delay: 0.8s;
}

.hero__title-letter img {
  width: 100%;
  height: auto;
}

.hero__title-sub {
  display: inline-block;
  width: 290px;
}

.hero__title-sub img {
  width: 100%;
  height: auto;
}

/* ---------- News ---------- */
.news {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 24px;
}

.divider--desktop {
  display: none;
}

.news__list-item + .news__list-item {
  margin-top: 8px;
}

.news__date {
  color: #cfcfcf;
  word-break: break-word;
}

.news__text {
  margin-top: 4px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------- About ---------- */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 30px;
  background-image: url(../images/about__bg--sp.webp);
  background-size: cover;
  background-position: 50% 160px;
  background-repeat: no-repeat;
}

.about__images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about__image:nth-child(2) {
  margin-top: 24px;
}

.about__image img {
  width: 100%;
  height: auto;
}

.about__contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.section-title--about {
  display: flex;
  justify-content: right;
}

.section-title--about .section-title__image {
  width: 175px;
}

.about__contents .about__text {
  color: #fff;
}

/* ---------- What is ---------- */
.sheet-metal {
  padding: 40px 30px 64px;
}

.section-title--sheet-metal .section-title__image {
  width: 150px;
}

.sheet-metal__image--sp {
  display: block;
  margin-top: 16px;
  width: 100%;
}

.sheet-metal__image--sp img {
  width: 100%;
}

.sheet-metal__image--pc {
  display: none;
}

.sheet-metal__image {
  display: block;
  margin-top: 16px;
}

.sheet-metal__image img {
  width: 100%;
}

.sheet-metal__text {
  margin-top: 8px;
}

.sheet-metal__subtitle {
  font-size: 16px;
  color: #2b9954;
}

.link-button.link-button--sheet-metal {
  margin-top: 24px;
}

/* ---------- Area ---------- */
.area__image img {
  width: 100%;
  height: auto;
}

.area__text {
  margin-block: 24px 16px;
  padding-inline: 30px;
}

/* ---------- Banner ---------- */
.banner {
  margin-block: 64px;
}

.banner__image {
  padding-inline: 30px;
  display: block;
}

.banner__image img {
  width: 100%;
  height: auto;
}

/* ---------- access ---------- */
.access {
  padding-inline: 30px;
}

.section-title--access {
  display: flex;
  justify-content: right;
}

.section-title--access .section-title__image {
  width: 240px;
}

.access__map {
  margin-top: 32px;
  width: 100%;
  height: 240px;
}

.access__info {
  margin-top: 16px;
  font-size: 14px;
  color: #333;
}

.transport {
  margin-top: 8px;
}

.transport__list {
  padding-left: 1em;
  text-indent: -1em;
}

.transport__list-item {
  line-height: 27px;
}

.transport__title {
  font-weight: 400;
}

.location {
  margin-top: 16px;
}

/* ---------- System ---------- */
.system {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 30px;
  background-image: url(../images/about__bg--sp.webp);
  background-size: cover;
  background-position: 50% 160px;
  background-repeat: no-repeat;
}

.system__images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.system__image:nth-child(1) {
  margin-top: 24px;
}

.system__image img {
  width: 100%;
  height: auto;
}

.system__contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.section-title--system {
  display: flex;
  justify-content: left;
}

.section-title--system .section-title__image {
  width: 175px;
}

.system__contents .system__text {
  color: #fff;
}

/* ================================
    3. Component Blocks
================================ */

.section-title__image {
  display: block;
  width: 110px;
}

.section-title__image img {
  width: 100%;
  height: auto;
}

.u-br-pc {
  display: none;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
  padding: 8px 0;
}

.link-button__text {
  font-size: 14px;
  padding-bottom: 4px;
  border-bottom: #333 1px solid;
}

.link-button--white .link-button__text {
  color: #fff;
  border-bottom: #fff 1px solid;
}

.link-button:hover .link-button__text {
  color: #2b9954;
  border-bottom: #2b9954 2px solid;
}

.link-button--white:hover .link-button__text {
  color: #333;
  border-bottom: #333 2px solid;
}

.link-button__icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #eb5b50;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: transform 0.3s;
  padding-bottom: 8px;
}

.link-button--white .link-button__icon {
  background-color: #fff;
  color: #eb5b50;
}

.link-button:hover .link-button__icon {
  background-color: #2b9954;
  transform: translateX(10px);
  transition: transform 0.3s;
}

.link-button--white:hover .link-button__icon {
  background-color: #eb5b50;
  transform: translateX(10px);
  transition: transform 0.3s;
  color: #fff;
}

/* ==================================
    4. Responsive
=================================== */

@media (min-width: 768px) {
  .main p {
    font-size: 16px;
    line-height: 32px;
  }
  .hero__slider {
    height: 100vh;
  }

  .hero__title-image {
    width: 200px;
  }

  .hero__title-letter {
    width: 60px;
  }

  .hero__title-sub {
    width: 400px;
  }

  .news {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
    gap: 40px;
    padding-block: 60px;
  }

  .section-title__image {
    width: 200px;
  }

  .divider--desktop {
    display: block;
    border-width: 1px;
  }

  .news__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    width: 80%;
    min-width: 600px;
  }

  .news__link {
    display: flex;
    align-items: center;
  }
  .news__date {
    margin-right: 40px;
  }
  .news__text {
    margin: 0;
    width: 80%;
  }
  .link-button__text {
    font-size: 18px;
    border-bottom: #333 2px solid;
  }
  .link-button__icon {
    width: 50px;
    height: 50px;
  }
  .about {
    flex-direction: row;
    background-image: url(../images/about__bg--pc.webp);
    background-position: 50% 0;
    margin-top: 0;
    padding-top: 80px;
  }
  .about__inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .about__inner {
    display: flex;
    gap: 32px;
  }
  .about__images {
    padding-bottom: 120px;
    width: 100%;
  }
  .about__image:nth-child(2) {
    margin-top: 64px;
  }
  .about__contents {
    justify-content: center;
    width: 100%;
    margin-top: 0;
    gap: 24px;
  }
  .section-title--about .section-title__image {
    width: 300px;
  }
  .section-title--about {
    justify-content: left;
  }
  .u-br-pc {
    display: block;
  }
  .link-button--right {
    justify-content: right;
    margin: 0;
  }
  .sheet-metal__body {
    margin-top: -60px;
    padding: 32px;
    border-radius: 32px;
    background-color: #fff;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
  }
  .sheet-metal__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 40px;
    border-radius: 32px;
    background-color: #efefef;
  }
  .sheet-metal__inner::before {
    content: "";
    position: absolute;
    top: 64px;
    left: 0;
    width: 4px;
    height: 80px;
    background-color: #2b9954;
  }
  .sheet-metal__image--sp {
    display: none;
  }
  .sheet-metal__image--pc {
    display: block;
    width: 100%;
    margin-block: auto;
  }
  .sheet-metal__image--pc img {
    width: 100%;
    height: auto;
  }
  .sheet-metal__image {
    width: 100%;
    margin-block: auto;
  }
  .sheet-metal__image img {
    width: 100%;
    height: auto;
  }
  .sheet-metal__item {
    display: flex;
    gap: 2vw;
  }
  .section-title--sheet-metal .section-title__image {
    width: 260px;
  }
  .sheet-metal__content {
    width: 100%;
  }
  .divider--desktop--sheet-metal {
    margin-top: 16px;
  }
  .sheet-metal__subtitle {
    font-size: 25px;
    color: #333;
  }
  .area__text {
    display: none;
  }
  .link-button--area {
    margin-top: 32px;
  }
  .banner__image {
    margin: 120px auto;
    max-width: 1200px;
  }
  .banner__image:hover {
    opacity: 0.5;
  }
  .section-title--access {
    justify-content: left;
  }
  .section-title--access .section-title__image {
    width: 660px;
  }
  .access {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
  .access__contents {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 24px;
    box-sizing: border-box;
    padding-right: 16px;
  }
  .access__map {
    margin: 0;
    height: 100%;
  }
  .location {
    padding-left: 1em;
  }
  .system {
    flex-direction: row;
    background-image:none;
    margin-top: 0;
    padding-top: 80px;
  }
  .system__inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .system__inner {
    display: flex;
    gap: 32px;
  }
  .system__images {
    padding-bottom: 120px;
    width: 100%;
  }
  .system__image:nth-child(2) {
    margin-top: 64px;
  }
  .system__contents {
    justify-content: center;
    width: 100%;
    margin-top: 0;
    gap: 24px;
  }
  .section-title--system .section-title__image {
    width: 590px;
  }
  .section-title--system {
    justify-content: left;
  }
}

@media (min-width: 1024px) {
  .hero__title-image {
    width: 280px;
  }

  .hero__title-letter {
    width: 90px;
  }

  .hero__title-sub {
    width: 600px;
  }
  .about {
    padding-top: 160px;
  }
  .about__inner {
    gap: 80px;
  }
}

@media (min-width: 1920px) {
}
